body  {
    margin: 0;
    padding: 0;
    background: rgb(30, 13, 78);
    background: radial-gradient(circle, rgb(27, 13, 78) 0%, rgba(0,0,0,1) 100%);
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.slider {
    width: 800px;
    height: 500px;
    overflow: hidden;
}
.sliders {
    width: 500%;
    height: 500px;
    display: flex;
}
.sliders input {
    display: none;
}
.slide {
    width: 20%;
    transition: 2s;
}
.slide img {
    width: 900px;
    height: 500px;
    border-radius: 25px;
}
.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child) {
    margin-right: 40px;
}
.manual-btn:hover {
    background: #40d3dc;
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}
.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div {
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 15px;
    transition: 1s;
}
.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #40d3dc;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #40d3dc;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #40d3dc;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #40d3dc;
}
.text1 {
    position: absolute;
    margin-top: 950px;
    font-family: helvetica , serif;
    border-radius: 25px;
    -moz-box-shadow:0 0 10px rgb(109, 12, 12);
    -webkit-box-shadow:0 0 10px rgb(109, 12, 12);
    box-shadow:0 0 10px rgb(86, 12, 109);
    margin-left: 300px;
    margin-right: 300px;
    transition: 0.5s;
}
.text1:hover {
    transform: translateY(-3px);
    border-radius: 30px;
    -moz-box-shadow:0 0 40px rgb(109, 12, 12);
    -webkit-box-shadow:0 0 40px rgb(109, 12, 12);
    box-shadow:0 0 40px rgb(22, 12, 109);
}
.genshin {
    text-align: center;
    font-size: 30px;
    color:aliceblue;
}
.text1 p {
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
    color:rgb(202, 202, 202);
    font-size: 18px;
    transition: 1s;
}
p:hover {
    color:rgb(70, 43, 226);
}